doctype html
html(lang='Ru')
	head
		meta(charset='UTF-8')
		link(rel="stylesheet", href="styles.css")
		title Tic tac toe
	body
	span.game-title#message Ходит игрок X

	.game
		- var val = 1
		while val < 10
			.game-item(data-ceil=val++)

	button#reset-game Очистить
	script(src="main.js")